<nav>
	<div class="nav-wrapper teal" >
		<a style="margin: 0px 20px;" class="brand-logo">Angular 2.0 Beta</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li *ngIf="!_authService.getStatus()">
				<a [routerLink]="['Login']">Login</a>
			</li>
			<li *ngIf="!_authService.getStatus()">
				<a [routerLink]="['Register']">Register</a>
			</li>
			<li *ngIf="_authService.getStatus()" (click)="logout()"><a>Logout</a></li>
		</ul>
	</div>
</nav>
<div class="container">
	<router-outlet></router-outlet>
	<!-- <router-outlet name="auxPathName">herer</router-outlet> -->
</div>